<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      <img src="../../../assets/images/studentlogo.jpg" alt="studentlogo" width="145px" height="50px">
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/register']" routerLinkActive="router-link-active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a [routerLink]="['/login']" routerLinkActive="router-link-active" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  