<div class="container" style="margin-bottom:20px;">
  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addVideosModal">Add Video</button>
  <button type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#addSubjectModal">Add
    Subject</button>
  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addCourceModel">Add
    Cource</button>
  <!-- <table class="table table-bordered">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>EmailId</th>
                <th>Gender</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obj of studentData" (click)="veiwProfile(obj)" style="cursor: pointer;" data-toggle="modal"
                data-target="#myModal">
                <td>{{obj.userName}}</td>
                <td>{{obj.emailId}}</td>
                <td>{{obj.gender}}</td>
                <td>{{obj.city}}</td>
            </tr>
        </tbody>
    </table> -->
</div>


<!-- 
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

       
            <div class="modal-header">
                Student Verification
            </div>

           
            <div class="modal-body">
                <div class="row" style="padding-bottom:12px">
                    <div class="col-md-3">
                        <img src="../../../assets/images/stud.jpg" width="120px;" height="120px;">
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <h5> Student Name:</h5>
                            </div>
                            <div class="col-md-8">
                                {{studentProfile['userName']}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:12px">
                            <div class="col-md-4">
                                <h5> Email Id:</h5>
                            </div>
                            <div class="col-md-8">
                                {{studentProfile.emailId}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:12px">

                            <div class="col-md-4">
                                <h5> Gender:</h5>
                            </div>
                            <div class="col-md-8">
                                {{studentProfile.gender}}
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:12px">

                            <div class="col-md-4">
                                <h5> City:</h5>
                            </div>
                            <div class="col-md-8">
                                {{studentProfile.city}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
            <div class="modal-footer" style="height: 35px;padding: 5px;">
                <button type="button" class="btn btn-danger btn-sm mystylebt" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm mystylebt" data-dismiss="modal"  (click)="verifyStudent()">Verify</button>
            </div>

        </div>
    </div>
</div>-->

<!-- Modal -->
<div class="modal fade" id="addSubjectModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div class="dropdown">
          <div class="form-group">
            <select class="form-control" style="width:200px;" (change)="addSubject($event.target.value)">
              <option selected>Select Category</option>
              <option *ngFor="let obj of category" (click)="getobj(obj)">{{obj.course}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label>Subject:</label>
          <input type="text" placeholder="add subject" [(ngModel)]="subject" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addSubjectData(subject);"
          data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="addCourceModel" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Subject:</label>
          <input type="text" placeholder="add subject" [(ngModel)]="cource" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addCource(cource);" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal sm" id="addVideosModal" role="dialog">
  <form [formGroup]="videoForm" >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h6 class="modal-title">Modal Header</h6>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="email">Topic:</label>
          <input type="text" id="email" formControlName="Topic">
        </div>
        <div class="form-group">
            <span> <i class="fa fa-play-circle"></i>
            </span>
            <input id="uploadVodeo" type="file" class="sac_links" (change)="onSelectFile($event)" />

            <span title="Upload Video" class="attachFileSpan"
                onclick="document.getElementById('uploadVodeo').click()">
                Upload
            </span>
        </div>
        <div class="dropdown">
          <div class="form-group">
            <select class="form-control" style="width:200px;" (change)="selectCategory($event.target.value)" formControlName="Cource" >
              <option selected>Select Category</option>
              <option *ngFor="let obj of category">{{obj.course}}</option>
            </select>
          </div>
        </div>
        <div class="dropdown">
          <div class="form-group">
            <select class="form-control" style="width:200px;" formControlName="Subject" >
              <option selected>Select Category</option>
              <option *ngFor="let obj of subjectData" >{{obj.subject}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="onSubmit(videoForm.value)"  [disabled]="!videoForm.valid"  data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</form>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
         
              <div class="col-md-4"  *ngFor="let obj of videoData">
                  <video [src]="apiendpoint+'/mediafiles/'+obj.Meme" width="300px" height="200px"
                      style="padding-right: 0px;background: black;" controls type="video/mp4">
                  </video>
              </div>
         
        </div>
    </div>
</div>