<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4><b><u>Courses</u></b></h4>
        </div>
        <div class="col-md-12 m-t-12">
            <div class="col-md-3" [routerLink]="['/computer']">
                <img src="../../../assets/images/computer.jpg">
                <p class="text_info"><i class="fa fa-desktop" aria-hidden="true"></i> Computers</p>
            </div>
            <div class="col-md-3" [routerLink]="['/mechanical']">
                <img src="../../../assets/images/mechanical.jpg">
                <p class="text_info"><i class="fa fa-user-plus" aria-hidden="true"></i> Mechanical</p>
            </div>
            <div class="col-md-3" [routerLink]="['/electrical']">
                <img src="../../../assets/images/electrical.jpg">
                <p class="text_info"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Electrical</p>
            </div>
            <div class="col-md-3" [routerLink]="['/marketing']">
                <img src="../../../assets/images/marketing.png">
                <p class="text_info"><i class="fa fa-link" aria-hidden="true"></i> Marketing</p>
            </div>
        </div>
        <div class="col-md-12 m-t-12" [routerLink]="['/civil']">
            <div class="col-md-3">
                <img src="../../../assets/images/civil.jpg">
                <p class="text_info"><i class="fa fa-road" aria-hidden="true"></i> Civil</p>
            </div>
            <div class="col-md-3" [routerLink]="['/chemical']">
                <img src="../../../assets/images/chemical.jpg">
                <p class="text_info"><i class="fa fa-thermometer-quarter" aria-hidden="true"></i> Chemical</p>
            </div>
            <div class="col-md-3" [routerLink]="['/pharmacy']">
                <img src="../../../assets/images/pharmacy.jpg">
                <p class="text_info"><i class="fa fa-plus" aria-hidden="true"></i> Pharmacy</p>
            </div>
            <div class="col-md-3" [routerLink]="['/business']">
                <img src="../../../assets/images/accountig.png">
                <p class="text_info"><i class="fa fa-file-text-o" aria-hidden="true"></i> Accounting</p>
            </div>
        </div>
    </div>
</div>